@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body{
    background-image: linear-gradient(to right, #74E9CF, #3CE6C1);
}

main{
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #3cd2e6c0;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #3C9CE6;
    text-align: center;
    text-shadow: 1px 1px 2px #3ce686b2;
}

h2{
    color: #3CE687;
}

p{
    text-align: justify;
}